@use "@dxtmisha/styles/properties" as ui;

@mixin mixinImageCrop {
  @include ui.flexCenter;

  &__body {
    position: relative;
    aspect-ratio: #{ui.v('??sys-aspect-ratio', auto)};
    width: ui.v('??sys-width', 100%);
    height: ui.v('??sys-height', 100%);
    max-width: 100%;
    max-height: 100%;
  }

  @include ui.disabled {
    pointer-events: none;
  }
}