@use "@dxtmisha/styles/properties" as ui;

@mixin mixinSelectValue {
  @include ui.truncate;
  z-index: 12;
  pointer-events: none;

  &__trailing {
    pointer-events: auto;
  }

  &--multiple {
    display: flex;
    flex-wrap: wrap;
  }

  &--placeholder {
    @include ui.textSelectNone;
  }
}
