@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as AlertLink;

@include ui.initDesignBasic('d1.alertLink') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include AlertLink.mixinAlertLink;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-alertLink-linkGap: var(--d1-sys-spacing-x);
    
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-md);
    
    &__label {
      @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-high)}); @include ui.color('init');
      @include ui.paletteColor(#{var(--d1-sys-palette-primary)});
    }
    
    @include ui.hover {
      & .d1-alertLink__label {
        text-decoration: underline;
        text-decoration-style: dashed;
        
        @include ui.colorOpacity(#{calc(var(--d1-sys-opacity-surface-high) + var(--d1-sys-opacity-hover))}); @include ui.color('init');
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
