@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Arrow;

@include ui.initDesignBasic('d1.arrow') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Arrow.mixinArrow;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    &--size {
      &--sm {
        --d1-arrow-arrowWidth: var(--d1-ref-spacing-8px);
        --d1-arrow-arrowHeight: var(--d1-ref-spacing-8px);
      }
      
      &--md {
        --d1-arrow-arrowWidth: var(--d1-ref-spacing-12px);
        --d1-arrow-arrowHeight: var(--d1-ref-spacing-12px);
      }
      
      &--lg {
        --d1-arrow-arrowWidth: var(--d1-ref-spacing-16px);
        --d1-arrow-arrowHeight: var(--d1-ref-spacing-16px);
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
