@use "@dxtmisha/styles/properties" as ui;

@mixin mixinPagination {
  @include ui.initByCustom('flexFlow', row);

  @include ui.flexStretchY;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__menuRows,
  &__navigation{
    @include ui.flexX;
  }

  &__navigation {
    gap: inherit;
  }

  &__info {
    @include ui.flexX;
  }

  &__spacer {
    display: none;
    @include ui.flexDynamic;
  }
}
