@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as NavigationRailItem;

@include ui.initDesignBasic('d1.navigationRailItem') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include NavigationRailItem.mixinNavigationRailItem;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-navigationRailItem-paddingX: var(--d1-sys-spacing-x);
    --d1-navigationRailItem-paddingY: var(--d1-sys-spacing-x);
    --d1-navigationRailItem-borderWidth: var(--d1-sys-spacing-outline);
    --d1-navigationRailItem-borderColor: var(--d1-sys-palette-outline);
    --d1-navigationRailItem-transitionFunction: var(--d-sys-transitionFunction-standard);
    
    gap: var(--d1-sys-spacing-x);
    
    margin: var(--d1-sys-spacing-x);
    
    @include ui.gradientOpacity(#{0}); @include ui.gradient('init');
    @include ui.paletteGradient(#{var(--d1-sys-palette-primary)});
    outline: none;
    
    border-radius: var(--d1-sys-rounded-lg);
    @include ui.borderOpacity(#{var(--d1-sys-opacity-outline)});
    
    transition-duration: var(--d-sys-transitionDuration-fade-enter);
    transition-property: background-color, background-image, border, box-shadow;
    
    @include ui.hover {
      @include ui.gradientOpacity(#{var(--d1-sys-opacity-hover)}); @include ui.gradient('init');
    }
    
    @include ui.active {
      @include ui.gradientOpacity(#{var(--d1-sys-opacity-pressed)}); @include ui.gradient('init');
    }
    
    &--focus {
      @include ui.gradientOpacity(#{var(--d1-sys-opacity-focus)}); @include ui.gradient('init');
    }
    
    &--open {
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-pressed)}); @include ui.backgroundColor('init');
      @include ui.paletteBackground(#{var(--d1-sys-palette-primary)});
    }
    
    &--selected {
      @include ui.color(#{var(--d1-sys-palette-onPrimary)});
      @include ui.colorOpacity(#{var(--d1-sys-opacity-primary-high)});
      
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)}); @include ui.backgroundColor('init');
      @include ui.paletteBackground(#{var(--d1-sys-palette-primaryVariant)});
      @include ui.gradient(#{var(--sys-color)});
      
      backdrop-filter: var(--d1-sys-blur-md);
    }
    
    &--selectedChild {
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-pressed)}); @include ui.backgroundColor('init');
      @include ui.paletteBackground(#{var(--d1-sys-palette-primaryVariant)});
    }
    
    &--disabled {
      @include ui.color(#{var(--d1-sys-palette-onSurface)});
      @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-disabled)});
    }
    
    &--divider {
      --d1-navigationRailItem-paddingX: var(--d1-sys-spacing-sm);
      
      margin: 0;
      
      border-radius: 0;
    }
    
    &:has(.d1-navigationRailItem__loading) > *:not(.d1-navigationRailItem__loading) {
      opacity: var(--d1-sys-opacity-surface-medium);
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
