@use "@dxtmisha/styles/properties" as ui;

@mixin mixinNavigationRailItem {
  box-sizing: border-box;
  @include ui.flexY;
  justify-content: center;
  position: relative;

  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @include ui.paddingX(ui.v('??paddingX', 0));
  @include ui.paddingY(ui.v('??paddingY', 0));

  &__badge {
    @include ui.marginLeft(auto);
  }

  &__context {
    position: relative;
    @include ui.flexY;
    z-index: 4;
  }

  &__contextLine {
    position: relative;
    @include ui.flexX;
    z-index: 4;
  }

  &__ripple {
    order: 32;
  }

  &--readonly,
  &--disabled,
  &--loading {
    cursor: default;
  }

  @at-root {

    &+&[data-divider="active"],
    #{ui.c('?listGroup')}+&[data-divider="active"],
    [data-divider="active"]+&[data-divider="active"] {
      border-top-style: solid;
      border-top-width: ui.v('??borderWidth');
      @include ui.borderColor(ui.v('??borderColor'));
    }
  }
}