@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as CropArea;

@include ui.initDesignBasic('d1.cropArea') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include CropArea.mixinCropArea;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    &__crop {
      border-width: var(--d1-ref-spacing-2px);
      @include ui.borderOpacity(#{var(--d1-sys-opacity-primary-high)}); @include ui.borderColor('init');
      @include ui.paletteBorder(#{var(--d1-sys-palette-primary)});
    }
    
    &__move {
      @include ui.backgroundColor(#{var(--d1-sys-palette-scrim)});
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-scrim)});
    }
    
    &:focus-visible {
      @include ui.outlineOpacity(#{var(--d1-sys-opacity-outline)});
      
      outline-width: var(--d1-ref-spacing-1);
      outline-style: solid;
      @include ui.outlineColor(#{var(--d1-sys-palette-primary)});
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}