@use "@dxtmisha/styles/properties" as ui;

@mixin mixinDropzone {
  @include ui.absolute;
  @include ui.flexY;
  justify-content: center;
  z-index: 8;

  border-style: dashed;

  transition-property: background-color, border-color;
  transition-duration: ui.v('d.sys.transitionDuration.standard');
  transition-timing-function: ui.v('d.sys.transitionFunction.standard');

  &__input {
    @include ui.absolute;
    opacity: 0;
  }

  &--disabled {
    pointer-events: none;
  }
}