@use "@dxtmisha/styles/properties" as ui;
@use "../Modal/style" as modal;

@mixin mixinActionSheet {
  @include modal.mixinModal;

  top: var(--sys-touch-move-y, 0);

  &__footer {
    justify-content: center;
  }

  &__tab {
    display: none;

    @media (hover: none) and (pointer: coarse) {
      display: block;
      margin: auto;
    }
  }

  &__touch {
    touch-action: none;
  }
}
