@use "@dxtmisha/styles/properties" as ui;

@mixin mixinClockPeriod {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  border-width: ui.v('??borderWidth', 1px);
  border-style: solid;

  &__item {
    box-sizing: border-box;
    @include ui.flexCenter;
    flex: 1 1 0;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    color: inherit;
  }

  &--orientation {
    &--vertical {
      flex-direction: column;

      @include ui.subclass('item') {
        &:not(:last-child) {
          border-bottom-width: ui.v('??borderWidth', 1px);
          border-bottom-style: solid;
        }
      }
    }

    &--horizontal {
      flex-direction: row;

      @include ui.subclass('item') {
        &:not(:last-child) {
          border-right-width: ui.v('??borderWidth', 1px);
          border-right-style: solid;
        }
      }
    }
  }

  @include ui.readonly {
    @include ui.subclass('item') {
      cursor: default;
    }
  }

  @include ui.disabled {
    pointer-events: none;
  }
}