@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/Menu/style" as Menu;

@include ui.initDesignBasic('d1.menu') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Menu.mixinMenu;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    &--barsAdaptive {
      &--showAlways {
        --d1-menu-barsDisplay: flex;
      }

      &--showSm {
        @media screen and (min-width: 640px) {
          --d1-menu-barsDisplay: flex;
        }
      }

      &--showMd {
        @media screen and (min-width: 768px) {
          --d1-menu-barsDisplay: flex;
        }
      }

      &--showLg {
        @media screen and (min-width: 1024px) {
          --d1-menu-barsDisplay: flex;
        }
      }

      &--showXl {
        @media screen and (min-width: 1280px) {
          --d1-menu-barsDisplay: flex;
        }
      }

      &--show2xl {
        @media screen and (min-width: 1536px) {
          --d1-menu-barsDisplay: flex;
        }
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
