@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/FieldLabel/style" as FieldLabel;

@include ui.initDesignBasic('d1.fieldLabel') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include FieldLabel.mixinFieldLabel;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    gap: var(--d1-sys-spacing-xs);
    
    padding-bottom: var(--d1-sys-spacing-x);
    
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-md);
    
    &__required {
      @include ui.color(#{var(--d1-sys-palette-error)});
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
