@use "@dxtmisha/styles/properties" as ui;

@mixin mixinSelectableArea {
  position: relative;

  &__square {
    visibility: hidden;
    position: absolute;
    top: ui.v('??sys-square-y');
    left: ui.v('??sys-square-x');
    z-index: 8;

    width: ui.v('??sys-square-width');
    height: ui.v('??sys-square-height');

    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: ui.v('d.sys.transitionDuration.standard');
    transition-timing-function: ui.v('d.sys.transitionFunction.standard');

    &--show {
      visibility: visible;
      opacity: 1;
      transition-property: none;
    }
  }

  &__item {
    position: relative;

    &::before {
      display: none;
      @include ui.absolute;
      z-index: 8;
      pointer-events: none;
      border-radius: inherit;
    }

    &--selected::before {
      display: block;
    }
  }

  &__blockSelection {
    @include ui.textSelectNone;
  }
}

