@use "@dxtmisha/styles/properties" as ui;

@mixin mixinTabsNavigation {
  position: relative;

  &--divider {
    &::after {
      content: ' ';
      @include ui.absoluteBottom;
      left: var(--sys-bleed, 0);
      right: var(--sys-bleed, 0);

      width: var(--sys-scroll-width, auto);
      margin-right: calc(var(--sys-scroll-width, 0) * -1);

      border-bottom-style: solid;
      border-bottom-width: ui.v('??borderWidth');
      @include ui.borderColor(ui.v('??borderColor'), ui.v('??borderOpacity'));
    }
  }
}
