@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Progress;

@include ui.initDesignBasic('d1.progress') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Progress.mixinProgress;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-progress-backgroundColor: var(--d1-sys-palette-primary);
    --d1-progress-borderRadius: var(--d1-sys-rounded-full);
    --d1-progress-opacity: var(--d1-sys-opacity-overlay);
    
    @include ui.paletteVar(#{var(--d1-sys-palette-primary)});
    
    &--circular {
      --d1-progress-inset: var(--d1-sys-spacing-x);
      --d1-progress-width: var(--d1-ref-spacing-12);
    }
    
    &--size {
      &--sm {
        --d1-progress-height: var(--d1-ref-spacing-2px);
      }
      
      &--md {
        --d1-progress-height: var(--d1-ref-spacing-1);
      }
      
      &--lg {
        --d1-progress-height: var(--d1-ref-spacing-2);
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
