@use "@dxt-ui/styles" as ui;

.c2-system {
  font-family: var(--c2-ot-typography-fontFamily-base), sans-serif;
  @include ui.fontSize(#{var(--c2-ot-typography-fontSize-size-scale-100)});
  font-weight: var(--c2-ot-typography-fontWeight-400);
  @include ui.lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
  letter-spacing: var(--c2-ot-typography-tracking-lg);
  @include ui.textCase(#{var(--c2-ot-typography-textCase-none)});
  text-decoration: var(--c2-ot-typography-textDecoration-none);
  @include ui.paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
  
  @include ui.color(#{var(--c2-st-content-foreground-color-neutral-primary)});
}