@use "@dxtmisha/styles/properties" as ui;

@mixin mixinSnackbarItem {
  @include ui.flexStretchY;
  position: relative;

  max-width: 100%;

  &__tool {
    @include ui.flexX;
    gap: inherit;
  }

  &__context {
    @include ui.flexStretchY;
    @include ui.flexDynamic;
    gap: inherit;
    order: 4;
  }

  &__button {
    order: 1024;
  }

  &__close {
    align-self: flex-start;
    z-index: 48;
    order: 1040;
  }
}
