@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Textarea;

@include ui.initDesignBasic('d1.textarea') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Textarea.mixinTextarea;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-textarea-main: var(--d-textarea);
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
