@use '@dxt-ui/styles' as ui;

.wiki-storybook {
  &-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-content: stretch;
    gap: 8px;
  }

  &-item {
    position: relative;
    overflow: hidden;

    border: 1px solid oklch(87.2% 0.01 258.338);
    border-radius: 12px;

    @include ui.aspectRatio('1/1');

    &__label {
      position: absolute;
      top: 4px;
      left: 4px;
      right: auto;
      z-index: 8;
      @include ui.paddingX(8px);
      @include ui.paddingY(4px);

      font-size: 12px;
      line-height: 1.2;
      background: rgba(249, 250, 251, .48);
      backdrop-filter: blur(8px);
      border-radius: 8px;
    }

    &--rectangle {
      @include ui.aspectRatio('16/9');
    }

    &--widescreen {
      @include ui.aspectRatio('32/9');
    }

    &--squared {
      &--xs {
        grid-column: span 3;
      }

      &--sm {
        grid-column: span 6;
      }

      &--md {
        grid-column: span 12;
      }

      &--lg {
        grid-column: span 12;
      }

      &--max {
        grid-column: span 12;
      }

      @media screen and (min-width: 640px) {
        &--xs {
          grid-column: span 2;
        }

        &--sm {
          grid-column: span 4;
        }

        &--md {
          grid-column: span 6;
        }

        &--lg {
          grid-column: span 6;
        }
      }

      @media screen and (min-width: 1024px) {
        &--xs {
          grid-column: span 2;
        }

        &--sm {
          grid-column: span 2;
        }

        &--md {
          grid-column: span 4;
        }

        &--lg {
          grid-column: span 6;
        }
      }
    }

    &--center {
      @include ui.flexCenter;
    }

    &--rtl {
      @include ui.dirToRtl;
    }
  }
}
