@use '@dxtmisha/styles' as ui;

.wiki-storybook {
  &-container {
    container-type: inline-size;
  }

  &-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-content: stretch;
    gap: 8px;
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &-flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
  }

  &-decreased {
    width: 72%;
  }

  &-decreasedX2 {
    @include ui.mediaMinWidth('md') {
      width: 64%;
    }

    @include ui.mediaMinWidth('lg') {
      width: 48%;
    }
  }

  &-item {
    position: relative;
    overflow: hidden;

    border: 1px solid oklch(87.2% 0.01 258.338);
    border-radius: 12px;

    @include ui.aspectRatio('1/1');

    &__label {
      position: absolute;
      top: 4px;
      left: 4px;
      right: auto;
      z-index: 8;
      @include ui.paddingX(8px);
      @include ui.paddingY(4px);

      font-size: 12px;
      line-height: 1.2;
      background: rgba(249, 250, 251, .48);
      backdrop-filter: blur(8px);
      border-radius: 8px;

      &--static {
        position: static;
        @include ui.padding(0);
        width: 100%;
        background: transparent;
      }
    }

    &--overflowVisible {
      overflow: visible;
    }

    &--padding {
      padding: 16px 16px;
    }

    &--rectangle {
      grid-column: span 12;
      @include ui.aspectRatio('16/9');
    }

    &--widescreen {
      grid-column: span 12;
      @include ui.aspectRatio('32/9');
    }

    &--compact {
      grid-column: span 12;
      @include ui.aspectRatio('64/9');
    }

    &--auto {
      grid-column: span 12;
      @include ui.aspectRatio('auto');
    }

    &--squared {
      &--xs {
        grid-column: span 3;
      }

      &--sm {
        grid-column: span 6;
      }

      &--md {
        grid-column: span 12;
      }

      &--lg {
        grid-column: span 12;
      }

      &--max {
        grid-column: span 12;
      }

      @media screen and (min-width: 640px) {
        &--xs {
          grid-column: span 2;
        }

        &--sm {
          grid-column: span 4;
        }

        &--md {
          grid-column: span 6;
        }

        &--lg {
          grid-column: span 6;
        }
      }

      @media screen and (min-width: 1024px) {
        &--xs {
          grid-column: span 2;
        }

        &--sm {
          grid-column: span 2;
        }

        &--md {
          grid-column: span 4;
        }

        &--lg {
          grid-column: span 6;
        }
      }
    }

    &--center {
      @include ui.flexCenter;
    }

    &--rtl {
      @include ui.dirToRtl;
    }
  }

  &-card {
    overflow: hidden;
    width: 320px;

    border: 1px solid oklch(87.2% 0.01 258.338);
    border-radius: 12px;

    &__image {
      height: 128px;
      background-size: cover;
    }

    &__content {
      @include ui.flexY;
      align-items: stretch;
      gap: 16px;

      @include ui.paddingX(16px);
      @include ui.paddingY(16px);
    }

    &__label {
      @include ui.fontSize(20px);
      line-height: 1.2;
    }

    &__information {
      @include ui.fontSize(14px);
      line-height: 1.2;
      color: oklch(55.1% 0.027 264.364);
    }

    &__actions {
      @include ui.flexX;
      gap: 8px;
    }
  }

  &-button {
    @include ui.paddingX(16px);
    @include ui.paddingY(8px);

    background: none;
    border: 1px solid oklch(92.8% 0.006 264.531);
    border-radius: 8px;

    &:hover {
      background-color: oklch(98.5% 0.002 247.839);
    }

    &:active {
      background-color: oklch(87.2% 0.01 258.338);
    }
  }
}
