@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Grid;

@include ui.initDesignBasic('d1.grid') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Grid.mixinGrid;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-grid-columns: 12;
    
    row-gap: var(--d1-layout-gapY);
    
    column-gap: var(--d1-layout-gapX);
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
