@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as MotionAxis;

@include ui.initDesignBasic('d1.motionAxis') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include MotionAxis.mixinMotionAxis;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
