@use "@dxtmisha/styles/properties" as ui;

@mixin mixinBars {
  display: flex;

  margin-right: ui.v('?window.sysMarginRight', 0);

  transition: background-color ui.v('d.sys.transitionDuration.sm') linear;

  @include ui.mediaPrefersReducedMotion {
    transition: none;
  }

  &__context,
  &__label {
    @include ui.flexDynamic;
  }

  &__context > &__label {
    width: calc(100% - 64px);
    min-width: 80%;
    @include ui.clamp(2);
  }
}
