@use "../../../styles/c2/properties";
@use "@dxt-ui/styles/properties" as ui;
@use "@dxt-ui/constructor/Icon/style" as Icon;

@include ui.initDesignBasic('c2.icon') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Icon.mixinIcon;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    @include ui.aspectRatio(#{1/1});
    
    &--asPalette {
      @include ui.paletteColor(#{var(--c2-st-content-background-color-info-explicit)});
    }
    
    &--overlay {
      @include ui.backgroundColor(#{var(--c2-st-action-background-color-neutral-subtle-normal)});
      
      @include ui.disabled('.c2-icon') {
        @include ui.backgroundOpacity(#{0});
      }
    }
    
    &--dynamic {
      @include ui.focus('.c2-icon') {
        @include ui.gradient(#{var(--c2-st-action-background-color-neutral-subtle-focus)});
        @include ui.gradientOpacity(#{unset});
      }
      
      @include ui.hover('.c2-icon') {
        @include ui.gradient(#{var(--c2-st-action-background-color-neutral-subtle-hover)});
        @include ui.gradientOpacity(#{unset});
      }
      
      @include ui.active('.c2-icon') {
        @include ui.gradient(#{var(--c2-st-action-background-color-neutral-subtle-active)});
        @include ui.gradientOpacity(#{unset});
      }
    }
    
    &--circle {
      border-radius: var(--c2-st-selectable-borderRadius-size-pill);
    }
    
    &--box {
      border-radius: 0;
    }
    
    &--rect {
      @include ui.aspectRatio(#{30/20});
      
      @include ui.width(#{auto});
      @include ui.height(#{var(--c2-icon-_width)});
      
      border-radius: 0;
    }
    
    &--round {
      border-radius: var(--c2-st-selectable-borderRadius-size-sm);
    }
    
    &--size {
      &--2xs {
        --c2-icon-width: var(--c2-ot-dimension-75);
      }
      
      &--xs {
        --c2-icon-width: var(--c2-ot-dimension-100);
      }
      
      &--sm {
        --c2-icon-width: var(--c2-ot-dimension-125);
      }
      
      &--md {
        --c2-icon-width: var(--c2-ot-dimension-150);
      }
      
      &--lg {
        --c2-icon-width: var(--c2-ot-dimension-200);
      }
      
      &--xl {
        --c2-icon-width: var(--c2-ot-dimension-250);
      }
      
      &--2xl {
        --c2-icon-width: var(--c2-ot-dimension-350);
      }
      
      &--3xl {
        --c2-icon-width: var(--c2-ot-dimension-400);
      }
      
      &--4xl {
        --c2-icon-width: var(--c2-ot-dimension-450);
      }
      
      &--5xl {
        --c2-icon-width: var(--c2-ot-dimension-500);
      }
      
      &--6xl {
        --c2-icon-width: var(--c2-ot-dimension-600);
      }
      
      &--7xl {
        --c2-icon-width: var(--c2-ot-dimension-800);
      }
    }
    
    &--secondary {
      @include ui.color(#{var(--c2-st-content-foreground-color-neutral-secondary)});
    }
    
    &--success {
      @include ui.color(#{var(--c2-st-action-background-color-positive-normal)});
    }
    
    &--successInverse {
      @include ui.color(#{var(--c2-st-content-background-color-default-subtle-normal)});
      
      @include ui.backgroundColor(#{var(--c2-st-content-background-color-positive-explicit)});
    }
    
    &--error {
      @include ui.color(#{var(--c2-st-content-background-color-negative-explicit)});
    }
    
    &--errorInverse {
      @include ui.color(#{var(--c2-st-content-background-color-default-subtle-normal)});
      
      @include ui.backgroundColor(#{var(--c2-st-content-background-color-negative-explicit)});
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
