@use "@dxt-ui/styles/properties" as ui;

@mixin mixinCell {
  position: relative;
  display: flex;
  align-items: center;

  &__context {
    display: flex;
    flex-wrap: wrap;
    @include ui.flexDynamic;

    order: 4;
  }

  &__label {
    align-self: center;
    flex-basis: auto;
  }

  &__caption {
    align-self: center;
    @include ui.flexDynamic;
  }

  &__description {
    grid-area: description;
    flex-basis: 100%;
  }

  &__contextTrailing {
    display: flex;
    align-items: center;
    gap: inherit;

    order: 8;
  }

  &__body {
    flex-basis: 100%;
    order: 12;
  }

  &:has(&__body) {
    flex-wrap: wrap;
  }

  &__loading {
    order: 16;
  }

  &--dynamic {
    cursor: pointer;
  }

  @include ui.readonly {
    cursor: default;
  }

  @include ui.disabled {
    cursor: default;
  }

  &--dividerLabel {
    &__context {
      border-bottom-style: solid;
      border-bottom-width: ui.v('??borderWidth');
      @include ui.borderColor(ui.v('??borderColor'));
    }
  }

  @at-root {
    [data-divider="active"] + &[data-divider="active"],
    [data-divider="active"] + * > &[data-divider="active"] {
      border-top-style: solid;
      border-top-width: ui.v('??borderWidth');
      @include ui.borderColor(ui.v('??borderColor'));
    }
  }
}
