@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Slider;

@include ui.initDesignBasic('d1.slider') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Slider.mixinSlider;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-slider-height: var(--d1-ref-spacing-10);
    --d1-slider-railHeight: var(--d1-ref-spacing-2);
    --d1-slider-thumbSize: var(--d1-ref-spacing-6);
    --d1-slider-thumbAreaSize: var(--d1-ref-spacing-12);
    --d1-slider-thumbAreaShift: var(--d1-ref-spacing-1);
    --d1-slider-markSize: var(--d1-ref-spacing-1);
    
    border-radius: var(--d1-sys-rounded-full);
    
    &__rail {
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-scrim)}); @include ui.backgroundColor('init');
      @include ui.paletteBackground(#{var(--d1-sys-palette-primary)});
    }
    
    &__thumb {
      @include ui.gradientOpacity(#{0}); @include ui.gradient('init');
      @include ui.paletteGradient(#{var(--d1-sys-palette-primary)});
      
      border-radius: var(--d1-sys-rounded-full);
      
      &::after {
        content: ' ';
        @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)}); @include ui.backgroundColor('init');
        @include ui.paletteBackground(#{var(--d1-sys-palette-primary)});
        
        box-shadow: var(--d1-sys-shadow-sm);
        backdrop-filter: var(--d1-sys-blur-md);
      }
      
      @include ui.hover('.d1-slider') {
        @include ui.gradientOpacity(#{var(--d1-sys-opacity-hover)}); @include ui.gradient('init');
      }
      
      @include ui.active('.d1-slider') {
        @include ui.gradientOpacity(#{var(--d1-sys-opacity-pressed)}); @include ui.gradient('init');
      }
      
      &:focus-visible {
        @include ui.gradientOpacity(#{var(--d1-sys-opacity-hover)}); @include ui.gradient('init');
      }
    }
    
    &__track {
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-surface-medium)}); @include ui.backgroundColor('init');
      @include ui.paletteBackground(#{var(--d1-sys-palette-primary)});
      
      backdrop-filter: var(--d1-sys-blur-sm);
    }
    
    &__mark {
      @include ui.backgroundColor(#{var(--d1-sys-palette-surface)});
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)});
      
      border-radius: var(--d1-sys-rounded-full);
    }
    
    &__label {
      @include ui.paddingX(#{var(--d1-sys-spacing-xs)});
      @include ui.paddingY(#{var(--d1-sys-spacing-x)});
      
      font-family: var(--d1-sys-font-family-basic), sans-serif;
      @include ui.fontSize(#{var(--d1-sys-font-size-md)});
      font-weight: var(--d1-sys-font-weight-medium);
      @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
      letter-spacing: var(--d1-sys-letterSpacing-sm);
      
      @include ui.color(#{var(--d1-sys-palette-surface)});
      @include ui.colorOpacity(#{var(--d1-sys-opacity-primary-high)});
      
      @include ui.backgroundColor(#{var(--d1-sys-palette-scrim)});
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-medium)});
      
      border-radius: var(--d1-sys-rounded-md);
      
      box-shadow: var(--d1-sys-shadow-md);
      backdrop-filter: var(--d1-sys-blur-md);
    }
    
    &--selected {
      & .d1-slider__rail {
        @include ui.paletteBackground(#{var(--d1-sys-palette-primaryVariant)});
      }
      
      & .d1-slider__track {
        @include ui.paletteBackground(#{var(--d1-sys-palette-primaryVariant)});
      }
      
      & .d1-slider__thumb {
        @include ui.paletteGradient(#{var(--d1-sys-palette-primaryVariant)});
        
        &::after {
          content: ' ';
          @include ui.paletteBackground(#{var(--d1-sys-palette-primaryVariant)});
        }
      }
    }
    
    &--disabled {
      & .d1-slider__rail {
        @include ui.backgroundOpacity(#{var(--d1-sys-opacity-disabled)}); @include ui.backgroundColor('init');
        @include ui.paletteBackground(#{var(--d1-sys-palette-onSurface)});
      }
      
      & .d1-slider__track {
        @include ui.backgroundOpacity(#{var(--d1-sys-opacity-surface-disabled)}); @include ui.backgroundColor('init');
        @include ui.paletteBackground(#{var(--d1-sys-palette-onSurface)});
      }
      
      & .d1-slider__thumb {
        &::after {
          content: ' ';
          @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-disabled)}); @include ui.backgroundColor('init');
          @include ui.paletteBackground(#{var(--d1-sys-palette-onSurface)});
          
          backdrop-filter: var(--d1-sys-blur-lg);
        }
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
