@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Table;

@include ui.initDesignBasic('d1.table') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Table.mixinTable;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-table-marginBleedX: var(--d1-layout-marginX);
    
    &__header {
      @include ui.backgroundColor(#{var(--d1-sys-palette-surface)});
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)});
      
      backdrop-filter: var(--d1-sys-blur-md);
    }
    
    &__caption {
      @include ui.paddingX(#{var(--d1-layout-paddingX)});
      @include ui.paddingY(#{var(--d1-layout-paddingY)});
      
      font-family: var(--d1-sys-font-family-basic), sans-serif;
      @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
      font-weight: var(--d1-sys-font-weight-regular);
      @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
      letter-spacing: var(--d1-sys-letterSpacing-md);
      @include ui.textAlign(#{center});
      
      @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-medium)}); @include ui.color('init');
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
