@use "@dxtmisha/styles/properties" as ui;

@mixin mixinListGroup {
  &__head,
  &__list {
    display: flow-root;
  }

  @at-root {
    & + &[data-divider="divider"],
    #{ui.c('?listItem')} + &[data-divider="divider"],
    #{ui.c('?list__menuGroup--divider')}:not(:first-child) > &[data-divider="divider"] {
      border-top-style: solid;
      border-top-width: ui.v('??borderWidth');
      @include ui.borderColor(ui.v('??borderColor'), ui.v('??borderOpacity'));
    }
  }
}
