@use "@dxtmisha/styles/properties" as ui;

@mixin mixinCollage {
  @include ui.initByCustom('columns', 4);
  @include ui.initByCustom('gap', 8px);
  @include ui.initByCustom('cell-size', 160px);

  container-type: inline-size;
  box-sizing: border-box;
  display: grid;
  gap: ui.v('??gap');
  grid-template-columns: repeat(ui.v('??columns'), minmax(ui.v('??cell-size'), 1fr));
  grid-template-rows: auto;
  width: 100%;

  &--variant {

    &--standard,
    &--quilted {
      grid-auto-rows: calc((100cqw - (ui.v('??columns') - 1) * ui.v('??gap')) / ui.v('??columns'));
      grid-template-rows: unset;
    }

    &--quilted,
    &--masonryHorizontal,
    &--masonryVertical {
      grid-auto-flow: dense;
    }

    &--woven {
      grid-auto-rows: calc(((100cqw - (ui.v('??columns') - 1) * ui.v('??gap')) / ui.v('??columns')) * 4 / 3);
      grid-template-rows: unset;

      @include ui.subclass('item') {
        grid-column: auto / span 1;
        grid-row: auto / span 1;
      }
    }

    &--masonryHorizontal {
      grid-template-columns: repeat(auto-fit, minmax(calc((ui.v('??cell-size') - (ui.v('??gap') * 9)) / 10), 1fr));

      *[data-collage-item] {
        grid-column: auto / span calc(#{ui.v('?collageItem-sys-width', 1)} + #{ui.v('??sys-item-grow', 0)});
        min-height: ui.v('??cell-size');
      }
    }

    &--masonryVertical {
      grid-template-rows: calc((ui.v('??cell-size') - (ui.v('??gap') * 9)) / 10);
      grid-auto-rows: calc((ui.v('??cell-size') - (ui.v('??gap') * 9)) / 10);

      *[data-collage-item] {
        min-height: calc((#{ui.v('?collageItem-sys-height', 1)} * ((ui.v('??cell-size') - (ui.v('??gap') * 9)) / 10)) + (ui.v('??gap') * (#{ui.v('?collageItem-sys-height', 1)} - 1)));
        grid-row: auto / span #{ui.v('??sys-item-grow', ui.v('?collageItem-sys-height', 1))};
      }
    }
  }
}