@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as ProgressBar;

@include ui.initDesignBasic('d1.progressBar') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include ProgressBar.mixinProgressBar;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-progressBar-height: var(--d1-ref-spacing-3);
    --d1-progressBar-borderRadius: var(--d1-sys-rounded-full);
    
    gap: var(--d1-sys-spacing-x);
    
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-xs)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-xs)});
    letter-spacing: var(--d1-sys-letterSpacing-lg);
    
    @include ui.color(#{var(--d1-sys-palette-onSurface)});
    @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-medium)});
    
    &__item {
      &__label {
        padding-bottom: var(--d1-sys-spacing-x);
      }
      
      &__progress {
        @include ui.backgroundOpacity(#{var(--d1-sys-opacity-scrim)}); @include ui.backgroundColor('init');
        @include ui.paletteBackground(#{var(--d1-sys-palette-onSurface)});
        
        backdrop-filter: var(--d1-sys-blur-sm);
      }
      
      &--focus {
        & .d1-progressBar__item__progress {
          @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)}); @include ui.backgroundColor('init');
          @include ui.paletteBackground(#{var(--d1-sys-palette-primaryVariant)});
        }
      }
      
      &--palette {
        & .d1-progressBar__item__progress {
          @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)}); @include ui.backgroundColor('init');
          @include ui.paletteBackground(#{var(--d1-sys-palette-primary)});
        }
      }
      
      &--space {
        & .d1-progressBar__item__progress {
          @include ui.backgroundOpacity(#{var(--d1-sys-opacity-disabled)}); @include ui.backgroundColor('init');
        }
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
