@use "@dxt-ui/styles" as ui;

.d1-font {
  &--bodySmall {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-xs)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-xs)});
    letter-spacing: var(--d1-sys-letterSpacing-lg);
  }
  
  &--bodySmallEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-xs)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-xs)});
    letter-spacing: var(--d1-sys-letterSpacing-lg);
  }
  
  &--bodyMedium {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-md);
  }
  
  &--bodyMediumEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-md);
  }
  
  &--bodyLarge {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-md)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
    letter-spacing: var(--d1-sys-letterSpacing-xl);
  }
  
  &--bodyLargeEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-md)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
    letter-spacing: var(--d1-sys-letterSpacing-xl);
  }
  
  &--labelSmall {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-x)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-xs)});
    letter-spacing: var(--d1-sys-letterSpacing-xl);
  }
  
  &--labelSmallEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-x)});
    font-weight: var(--d1-sys-font-weight-bold);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-xs)});
    letter-spacing: var(--d1-sys-letterSpacing-xl);
  }
  
  &--labelMedium {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-xs)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-xs)});
    letter-spacing: var(--d1-sys-letterSpacing-xl);
  }
  
  &--labelMediumEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-xs)});
    font-weight: var(--d1-sys-font-weight-bold);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-xs)});
    letter-spacing: var(--d1-sys-letterSpacing-xl);
  }
  
  &--labelLarge {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-xs);
  }
  
  &--labelLargeEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-bold);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-xs);
  }
  
  &--titleSmall {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-xs);
  }
  
  &--titleSmallEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
    font-weight: var(--d1-sys-font-weight-bold);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
    letter-spacing: var(--d1-sys-letterSpacing-xs);
  }
  
  &--titleMedium {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-md)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
    letter-spacing: var(--d1-sys-letterSpacing-sm);
  }
  
  &--titleMediumEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-md)});
    font-weight: var(--d1-sys-font-weight-bold);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
    letter-spacing: var(--d1-sys-letterSpacing-sm);
  }
  
  &--titleLarge {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-lg)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-lg)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--titleLargeEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-lg)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-lg)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--headlineSmall {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-headlineSmall)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-headlineSmall)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--headlineSmallEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-headlineSmall)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-headlineSmall)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--headlineMedium {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-headlineMedium)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-headlineMedium)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--headlineMediumEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-headlineMedium)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-headlineMedium)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--headlineLarge {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-headlineLarge)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-headlineLarge)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--headlineLargeEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-headlineLarge)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-headlineLarge)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--displaySmall {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-displaySmall)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-displaySmall)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--displaySmallEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-displaySmall)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-displaySmall)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--displayMedium {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-displayMedium)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-displayMedium)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--displayMediumEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-displayMedium)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-displayMedium)});
    letter-spacing: var(--d1-sys-letterSpacing-none);
  }
  
  &--displayLarge {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-displayLarge)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-displayLarge)});
    letter-spacing: var(--d1-sys-letterSpacing-compress);
  }
  
  &--displayLargeEmphasized {
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-displayLarge)});
    font-weight: var(--d1-sys-font-weight-medium);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-displayLarge)});
    letter-spacing: var(--d1-sys-letterSpacing-compress);
  }
}