@use "@dxt-ui/styles" as ui;

.d1-opacity {
  &--focus {
    opacity: var(--d1-sys-opacity-focus);
  }
  
  &--hover {
    opacity: var(--d1-sys-opacity-hover);
  }
  
  &--pressed {
    opacity: var(--d1-sys-opacity-pressed);
  }
  
  &--dragged {
    opacity: var(--d1-sys-opacity-dragged);
  }
  
  &--overlay {
    opacity: var(--d1-sys-opacity-overlay);
  }
  
  &--selected {
    opacity: var(--d1-sys-opacity-selected);
  }
  
  &--disabled {
    opacity: var(--d1-sys-opacity-disabled);
  }
  
  &--outline {
    opacity: var(--d1-sys-opacity-outline);
  }
  
  &--scrim {
    opacity: var(--d1-sys-opacity-scrim);
  }
  
  &--primaryHigh {
    opacity: var(--d1-sys-opacity-primary-high);
  }
  
  &--primaryMedium {
    opacity: var(--d1-sys-opacity-primary-medium);
  }
  
  &--primaryDisabled {
    opacity: var(--d1-sys-opacity-primary-disabled);
  }
  
  &--surfaceHigh {
    opacity: var(--d1-sys-opacity-surface-high);
  }
  
  &--surfaceMedium {
    opacity: var(--d1-sys-opacity-surface-medium);
  }
  
  &--surfaceDisabled {
    opacity: var(--d1-sys-opacity-surface-disabled);
  }
}