@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as SelectableArea;

@include ui.initDesignBasic('d1.selectableArea') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include SelectableArea.mixinSelectableArea;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    &__item {
      &--selected {
        &::before {
          content: ' ';
          margin: calc(var(--d1-sys-spacing-x) * -1);
          
          @include ui.backgroundOpacity(#{var(--d1-sys-opacity-pressed)}); @include ui.backgroundColor('init');
          @include ui.paletteBackground(#{var(--d1-sys-palette-primary)});
          
          border-width: var(--d1-sys-spacing-outline);
          @include ui.borderOpacity(#{var(--d1-sys-opacity-outline)}); @include ui.borderColor('init');
          @include ui.paletteBorder(#{var(--d1-sys-palette-primary)});
        }
      }
    }
    
    &__square {
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-overlay)}); @include ui.backgroundColor('init');
      @include ui.paletteBackground(#{var(--d1-sys-palette-primary)});
      
      border-width: var(--d1-sys-spacing-outline);
      @include ui.borderOpacity(#{var(--d1-sys-opacity-outlineMedium)}); @include ui.borderColor('init');
      @include ui.paletteBorder(#{var(--d1-sys-palette-primary)});
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
