@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as SelectableArea;

@include ui.initDesignBasic('d1.selectableArea') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include SelectableArea.mixinSelectableArea;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-selectableArea-main: var(--d-selectableArea);
    
    &__square {
      @include ui.backgroundColor(#{var(--d1-sys-palette-primary)});
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-overlay)});
      
      border-width: var(--d1-sys-spacing-outline);
      @include ui.borderColor(#{var(--d1-sys-palette-primary)});
    }
    
    &__item {
      &--selected {
        &::before {
          content: ' ';
          @include ui.backgroundColor(#{var(--d1-sys-palette-primary)});
          @include ui.backgroundOpacity(#{var(--d1-sys-opacity-pressed)});
          
          border-width: var(--d1-sys-spacing-outline);
          @include ui.borderColor(#{var(--d1-sys-palette-primary)});
        }
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
