// :component.once @use "../../../styles/[project]/properties";
@use "@dxtmisha/styles/properties" as ui;
// :component.once @use "@dxtmisha/constructor/style.scss" as Component;

@include ui.initDesignBasic('[design].[component]') {
  // Basic styles for a component
  // Базовый стили для компонента
  // :component.once @include Component.mixinComponent;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
