@use "@dxtmisha/styles/properties" as ui;

@mixin mixinAlertLink {
  cursor: pointer;

  text-decoration: none;

  &--divider + &--divider {
    &:before {
      content: "•";
      @include ui.marginRight(ui.v('??alert.linkGap', 0));
    }
  }
}
