@use "@dxtmisha/styles/properties" as ui;

@mixin mixinHorizontalScroll {
  @include ui.initByCustom('marginLeft', 0);

  display: grid;
  grid-auto-flow: column;
  align-items: stretch;

  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-margin-inline-start: ui.v('??marginLeft');
  overscroll-behavior-x: contain;

  &__item {
    scroll-snap-align: start;
  }
}
