@use "@dxtmisha/styles/properties" as ui;

@mixin mixinTooltip {
  @include ui.initByCustom('origin', -50%);

  position: fixed;
  top: calc(#{ui.v('??sys.y', 0px)});
  left: calc(#{ui.v('??sys.x', 0px)} + #{ui.v('??sys.shift', 0px)});

  @include ui.flexY;
  align-items: stretch;
  opacity: 0;
  pointer-events: none;

  @include ui.paddingX(ui.v('??paddingX'));
  padding-top: ui.v('??paddingY');
  padding-bottom: ui.v('??paddingY');

  transition: opacity ui.v('d.sys.transitionDuration.xs') linear;
  transform-origin: calc(50% - #{ui.v('??sys.shift', 0px)}) #{ui.v('??origin')};

  z-index: 999999;

  &--top {
    @include ui.initByCustom('origin', 150%);
  }

  &--preparation {
    transform: scale(0.4);
  }

  &--show {
    opacity: 1;
    pointer-events: unset;

    transform: none;
    transition: opacity ui.v('d.sys.transitionDuration.xs') linear,
    transform ui.v('d.sys.transitionDuration.sm') ui.v('d.sys.transitionFunction.deceleration');
  }
}
