@use "@dxtmisha/styles/properties" as ui;

@mixin mixinScrollSticky {
  position: sticky;
  bottom: 0;
  z-index: 24;

  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: ui.v('??scrollHeight', 20px);

  @media (pointer: coarse) {
    display: none;
  }

  &__item {
    display: block;
    height: 2px;
    width: ui.v('??fixWidth');
  }
}
