@use "@dxtmisha/styles/properties" as ui;

@mixin mixinScrollSticky {
  position: relative;

  &__scroll {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 16;

    overflow-x: auto;
    overflow-y: hidden;

    height: ui.v('??scrollHeight', 24px);

    @media (pointer: coarse) {
      display: none;
    }
  }
}