@use "@dxtmisha/styles/properties" as ui;

@mixin mixinScrollSticky {
  position: relative;

  &__context {
    overflow-x: auto;
    overflow-y: clip;

    width: 100%;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      appearance: none;
      width: 0;
      height: 0;
    }
  }

  &__scroll {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 16;

    overflow-x: auto;
    overflow-y: hidden;

    height: ui.v('??scrollHeight', ui.v('??sys.scrollHeight', 24px));

    &:after {
      content: " ";
      display: block;
      width: ui.v('??sys.width', 100%);
      height: 16px;
      pointer-events: none;
    }

    @media (pointer: coarse) {
      display: none;
    }
  }
}