@use "@dxtmisha/styles" as ui;

.d1-border {
  &--primary {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-primary)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--primaryBold {
    border-width: var(--d1-ref-spacing-2px);
    @include ui.borderColor(#{var(--d1-sys-palette-primary)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--primaryMuted {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-primary)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-disabled)});
  }
  
  &--primaryVariant {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-primaryVariant)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--primaryVariantBold {
    border-width: var(--d1-ref-spacing-2px);
    @include ui.borderColor(#{var(--d1-sys-palette-primaryVariant)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--primaryVariantMuted {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-primaryVariant)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-disabled)});
  }
  
  &--warning {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-warning)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--warningBold {
    border-width: var(--d1-ref-spacing-2px);
    @include ui.borderColor(#{var(--d1-sys-palette-warning)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--success {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-success)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--successBold {
    border-width: var(--d1-ref-spacing-2px);
    @include ui.borderColor(#{var(--d1-sys-palette-success)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--error {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-error)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--errorBold {
    border-width: var(--d1-ref-spacing-2px);
    @include ui.borderColor(#{var(--d1-sys-palette-error)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-surface-medium)});
  }
  
  &--outline {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-outline)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-outline)});
  }
  
  &--outlineBold {
    border-width: var(--d1-ref-spacing-2px);
    @include ui.borderColor(#{var(--d1-sys-palette-outline)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-outline)});
  }
  
  &--outlineVariant {
    border-width: var(--d1-ref-spacing-px);
    @include ui.borderColor(#{var(--d1-sys-palette-outlineVariant)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-outline)});
  }
  
  &--outlineVariantBold {
    border-width: var(--d1-ref-spacing-2px);
    @include ui.borderColor(#{var(--d1-sys-palette-outlineVariant)});
    @include ui.borderOpacity(#{var(--d1-sys-opacity-outline)});
  }
  
  &--palette {
    &.d1-border--primary {
      @include ui.paletteBorder(#{var(--d1-sys-palette-primary)});
    }
    
    &.d1-border--primaryVariant {
      @include ui.paletteBorder(#{var(--d1-sys-palette-primaryVariant)});
    }
    
    &.d1-border--outline {
      @include ui.paletteBorder(#{var(--d1-sys-palette-outline)});
    }
    
    &.d1-border--outlineVariant {
      @include ui.paletteBorder(#{var(--d1-sys-palette-outlineVariant)});
    }
  }
}