@use "@dxt-ui/styles" as ui;

.d1-main {
  font-family: var(--d1-sys-font-family-basic), sans-serif;
  @include ui.fontSize(#{var(--d1-sys-font-size-md)});
  font-weight: var(--d1-sys-font-weight-regular);
  @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
  letter-spacing: var(--d1-sys-letterSpacing-xl);
  
  @include ui.color(#{var(--d1-sys-palette-onSurface)});
  @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-high)});
  
  background: var(--d1-sys-background-0);
  
  @media screen and (max-width: calc(768px - 1px)) {
    --d1-grid-paddingX: var(--d1-sys-spacing-grid-paddingX-md);
    --d1-grid-paddingY: var(--d1-sys-spacing-grid-paddingY);
    --d1-grid-gapX: var(--d1-sys-spacing-grid-gapX-md);
    --d1-grid-gapY: var(--d1-sys-spacing-grid-gapY-md);
  }
  
  @media screen and (min-width: 768px) {
    --d1-grid-paddingX: var(--d1-sys-spacing-grid-paddingX-lg);
    --d1-grid-paddingY: var(--d1-sys-spacing-grid-paddingY);
    --d1-grid-gapX: var(--d1-sys-spacing-grid-gapX-lg);
    --d1-grid-gapY: var(--d1-sys-spacing-grid-gapY-lg);
  }
}