@use "@dxtmisha/styles/properties" as ui;

@mixin mixinSliderField {
  width: 100%;

  &__body {
    @include ui.flexX;
    max-width: 100%;
    width: ui.v('??width', auto);
  }

  &__labelSlider {
    @include ui.flexX;
    order: 4;

    font: inherit;
  }

  &__input {
    order: 4;

    font: inherit;
    text-align: center;
    background-color: transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus,
    &:focus-visible {
      outline: none;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__value {
    @include ui.flexCenter;
    order: 4;

    font: inherit;
    text-align: center;
  }

  &__slider {
    flex-grow: 1;
    flex-shrink: 1;
    order: 4;
  }

  &__slider+&__labelSlider,
  &__slider+&__input,
  &__slider+&__value,
  &__labelSlider+&__slider,
  &__input+&__slider,
  &__value+&__slider {
    margin-left: ui.v('??sliderMargin');
  }

  &--vertical {
    @include ui.flexY;
    width: auto;
    height: 100%;

    @include ui.subclass('body') {
      @include ui.flexY;
      flex-grow: 1;
      flex-shrink: 1;
      height: ui.v('??width', 100%);
      width: auto;
    }
  }

  &--vertical &__slider+&__labelSlider,
  &--vertical &__slider+&__input,
  &--vertical &__slider+&__value,
  &--vertical &__labelSlider+&__slider,
  &--vertical &__input+&__slider,
  &--vertical &__value+&__slider {
    margin-left: unset;
    margin-top: ui.v('??sliderMargin');
  }
}