@use "color";
@use "dir";
@use "font";
@use "transform";

@mixin initGlobal {
  @include dir.initDir;
  @include font.initParagraphSpacing;

  *, *:after, *:before {
    box-sizing: border-box;
    border-color: transparent;
    border-style: solid;
    border-width: 0;

    @include color.initPalette;
    @include transform.initTransform;
  }
}
