@use "color";
@use "dir";
@use "font";
@use "transform";

@mixin initGlobal {
  @include dir.initDir;
  @include font.initParagraphSpacing;

  *, *:after, *:before {
    box-sizing: border-box;
    border-color: transparent;
    border-style: solid;
    border-width: 0;

    @include color.initPalette;
    @include transform.initTransform;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
