@use "sass:map";
@use "sass:meta";

@use "variables";

/// Returns values for media files
/// Возвращает значения для медиафайлов
/// @param {String} $width size name/ название размера
/// @return {String}
@function media($width) {
  @return map.get(variables.$designsMedia, #{variables.$designsDesign}#{'-'}#{$width});
}

@mixin mediaMinWidth($width) {
  @media screen and (min-width: media($width)) {
    @content;
  }
}

@mixin mediaMaxWidth($width) {
  @media screen and (max-width: media($width) - 1) {
    @content;
  }
}

@mixin mediaMinMaxWidth($min, $max) {
  @media screen and (min-width: media($min)) and (max-width: media($max) - 1) {
    @content;
  }
}

@mixin mediaPrefersReducedMotion() {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

@mixin containerMinWidth($width) {
  @container (min-width: media($width)) {
    @content;
  }
}

@mixin containerMaxWidth($width) {
  @container (max-width: media($width) - 1) {
    @content;
  }
}

@mixin containerMinMaxWidth($min, $max) {
  @container (min-width: media($min)) and (max-width: media($max) - 1) {
    @content;
  }
}
