@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as HorizontalScroll;

@include ui.initDesignBasic('d1.horizontalScroll') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include HorizontalScroll.mixinHorizontalScroll;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-horizontalScroll-marginLeft: var(--d1-ref-spacing-8);
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
