@use "@dxtmisha/styles/properties" as ui;

@mixin mixinInputFileItem {
  box-sizing: border-box;
  @include ui.flexX;
  position: relative;

  &__thumbnail {
    @include ui.flexCenter;
    position: relative;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
  }

  &__caption,
  &__actions {
    @include ui.flexX;
  }

  &--appearance {
    &--tile {
      @include ui.flexCenter;
      position: relative;

      @include ui.subclass('thumbnail') {
        @include ui.absolute;
        width: auto;
        height: auto;
        aspect-ratio: unset;
        border-radius: inherit;
      }

      @include ui.subclass('progress') {
        pointer-events: none;
      }

      @include ui.subclass('actions') {
        @include ui.absolute;
        @include ui.flexCenter;
        margin: auto;
        z-index: 24;
        opacity: 0;
        pointer-events: none;
      }

      @include ui.hover {
        @include ui.subclass('actions') {
          opacity: 1;
          pointer-events: auto;
        }
      }

      @include ui.focus {
        @include ui.subclass('actions') {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    &--compact {
      @include ui.subclass('label') {
        flex-grow: 1;
      }
    }
  }
}