@use "@dxt-ui/styles/properties" as ui;

@mixin mixinListItem {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;

  padding: 0;

  --sys-height: #{ui.v('??height', 0)};
  min-height: ui.v('??height', 0);

  cursor: pointer;

  &__icon,
  &__trailing {
    z-index: 4;

    @include ui.marginLeft(ui.v('??margin'));
    @include ui.marginRight(ui.v('??margin'));
  }

  &__icon {
    order: 8;
  }

  &__body {
    align-self: center;
    flex-grow: 1;
    order: 16;
    z-index: 4;

    @include ui.paddingX(ui.v('??paddingX', 0));
    @include ui.paddingY(ui.v('??paddingY', 0));

    & ~ {
      @include ui.subclass('icon') {
        @include ui.marginRight(#{calc(ui.v('??margin') - ui.v('??paddingX', 0) - ui.v('??shift', 0))});
      }

      @include ui.subclass('trailing') {
        @include ui.marginLeft(#{calc(ui.v('??margin') - ui.v('??paddingX', 0))});
      }
    }
  }

  &__context {
    @include ui.flexX;
    order: 16;

    @include ui.subclass('prefix') {
      order: 8;
    }

    @include ui.subclass('label') {
      order: 16;
    }

    @include ui.subclass('caption') {
      @include ui.flexDynamic;
      order: 24;
    }

    @include ui.subclass('suffix') {
      @include ui.flexDynamic;
      order: 32;

      @include ui.textAlign('right');
    }

    @include ui.subclass('badge') {
      order: 40;
      @include ui.marginLeft(auto);
    }
  }

  &__trailing {
    order: 24;
    z-index: 4;
  }

  &__ripple {
    order: 32;
  }

  &--readonly,
  &--disabled,
  &--loading {
    cursor: default;
  }

  &--fill {
    &--custom {
      position: relative;
      overflow: hidden;

      &:before {
        position: absolute;
        @include ui.inset();
        z-index: 2;

        background-color: ui.v('??fill', transparent);
        content: ' ';
      }
    }
  }

  &--iconAlign {
    &--center {
      @include ui.subclass('icon') {
        @include ui.initByCustom('margin', #{calc((ui.v('??height') - ui.v('?icon._width')) / 2)});
      }
      @include ui.subclass('trailing') {
        @include ui.initByCustom('margin', #{calc((ui.v('??height') - ui.v('?icon._width')) / 2)});
      }
    }

    &--edge {
      @include ui.subclass('icon') {
        @include ui.initByCustom('margin', #{ui.v('??paddingX')});
      }
      @include ui.subclass('trailing') {
        @include ui.initByCustom('margin', #{ui.v('??paddingX')});
      }
    }
  }

  &--iconTop {
    @include ui.state('description') {
      align-items: flex-start;

      @include ui.subclass('icon') {
        @include ui.translateY(#{calc((ui.v('??paddingY') - ((ui.v('?icon._width') - var(--sys-line-height)) / 2)))});
      }

      @include ui.subclass('trailing') {
        @include ui.translateY(#{calc((ui.v('??paddingY') - ((ui.v('?icon._width') - var(--sys-line-height)) / 2)))});
      }
    }
  }

  @at-root {
    & + &[data-divider="active"],
    #{ui.c('?listGroup')} + &[data-divider="active"],
    [data-divider="active"] + &[data-divider="active"] {
      border-top-style: solid;
      border-top-width: ui.v('??borderWidth');
      @include ui.borderColor(ui.v('??borderColor'));
    }
  }
}
