@use "@dxtmisha/styles/properties" as ui;

@mixin mixinImage {
  @include ui.initByCustom('img.width', 100%);
  @include ui.initByCustom('img.height', 100%);
  @include ui.initByCustom('img.object.fit', cover);

  direction: ltr;
  @include ui.flexCenter;
  @include ui.absolute;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: inherit;

  transition-property: background-size, filter, opacity, transform, rotate, scale, clip-path;
  transition-duration: ui.v('d.sys.transitionDuration.standard');
  transform: none;

  > img {
    position: relative;
    top: 50%;
    left: 50%;
    margin: auto;

    width: ui.v('??img.width');
    height: ui.v('??img.height');
    min-width: 100%;
    min-height: 100%;

    object-fit: ui.v('??img.object.fit');

    --sys-transform-translateX: -50%;
    --sys-transform-translateY: -50%;
    @include ui.transformInit();
    transform-origin: var(--sys-transform-originX) var(--sys-transform-originY);

    pointer-events: none;
  }

  &--type {
    &--public {
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: ui.v('??publicMaskSize', contain);

      @include ui.state('background') {
        @include ui.backgroundAsColor;
      }
    }

    &--icon {
      background-size: cover;
    }

    &--color,
    &--file,
    &--image {
      @include ui.disabled(ui.$designsClassName) {
        filter: grayscale(1) opacity(#{var(--sys-color-opacity, ui.v('??color.opacity', 1))});
      }
    }

    &--pdf {
      > object {
        width: 100%;
        height: 100%;
      }
    }
  }

  &--size {
    &--auto {
      @include ui.initByCustom('img.object.fit', none);
    }

    &--contain {
      @include ui.initByCustom('img.object.fit', contain);
    }

    &--cover {
      @include ui.initByCustom('img.object.fit', cover);
    }
  }

  &--adaptive {
    @include ui.initByCustom('img.height', auto);
    background-size: 100%;
  }

  &--turn {
    @include ui.rotate(180deg);
  }

  &--disabled {
    color: rgba(var(--sys-color, ui.v('??color')), var(--sys-color-opacity, ui.v('??colorOpacity', 1)));
  }

  &--hide {
    opacity: 0;
    @include ui.scale(.8);
  }

  &.material-icons,
  &.material-symbols-outlined,
  &.material-symbols-rounded,
  &.material-symbols-sharp {
    direction: ltr;
    display: inline-flex;
    font-size: ui.v('??font-size', 1.5em);
  }
}
