@use "@dxtmisha/styles/properties" as ui;

@mixin mixinClockDial {
  @include ui.initByCustom('sys.valuePadding', calc(ui.v('??valueWidth') / 2));

  position: relative;
  @include ui.aspectRatio(#{1/1});
  @include ui.textSelectNone;

  &__list {
    @include ui.absolute(ui.v('??padding'));
  }

  &__value {
    position: absolute;
    display: block;
    top: calc(50% - #{ui.v('??sys.valuePadding')});
    left: 0;
    right: 50%;
    transform: rotate(calc(90deg + #{ui.v('??sys.valueRotate', 0deg)}));
    transform-origin: right center;
    z-index: 16;

    &--disabled {
      pointer-events: none;
    }
  }

  &__name {
    @include ui.flexCenter;
    @include ui.squared(ui.v('??valueWidth'));
    border-radius: 50%;
    cursor: default;
    position: relative;
    transform: rotate(calc(-90deg - #{ui.v('??sys.valueRotate', 0deg)}));
    z-index: 4;

    &::after {
      content: "";
      position: absolute;
      margin: auto;
      opacity: 0;

      @include ui.aspectRatio(#{1/1});
    }
  }

  &__info {
    @include ui.absolute(ui.v('??padding'));
    pointer-events: none;
  }

  &__arrow {
    display: block;
    position: absolute;
    top: calc(50% - (#{var(--sys-height)} / 2));
    left: ui.v('??sys.valuePadding');
    right: 50%;
    transform: rotate(calc(90deg + #{ui.v('??sys.arrowRotate', 0deg)}));
    transform-origin: right center;
    z-index: 12;
  }

  &__arrowSelect {
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - #{ui.v('??sys.valuePadding')});
      left: calc(0px - #{ui.v('??sys.valuePadding')});
      @include ui.squared(ui.v('??valueWidth'));
      background-color: inherit;
    }
  }

  &__arrowHour {
    left: calc(#{ui.v('??sys.valuePadding')} * 2.8);
  }

  &__arrowMinute {
    left: calc(#{ui.v('??sys.valuePadding')} * 2);
  }

  &__point {
    position: absolute;
    top: calc(50% - (#{var(--sys-height)} / 2));
    left: calc(50% - (#{var(--sys-height)} / 2));
    right: 0;
    bottom: 0;
    z-index: 16;
    pointer-events: none;
  }

  &__dial {
    @include ui.absolute(ui.v('??padding'));
    @include ui.flexCenter;
    top: 50%;
    z-index: 4;
    pointer-events: none;
  }

  &__censor {
    @include ui.absolute;
    z-index: 24;
    cursor: pointer;
  }

  &--type {
    &--24 {
      @include ui.subclass('value') {
        &:nth-child(n+13) {
          padding-left: calc(#{ui.v('??valueWidth')} - #{ui.v('??valueSection')});
        }
      }
    }

    &--minute,
    &--second {
      @include ui.subclass('value') {
        &:not(:nth-child(5n)) {
          @include ui.subclass('name') {
            color: transparent;
          }
        }

        &--selected:not(:nth-child(5n)) {
          @include ui.subclass('name') {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &--selected {
    @include ui.subclass('name') {
      cursor: pointer;
    }
  }

  &--section {
    @include ui.subclass('arrowSelect') {
      left: calc(#{ui.v('??sys.valuePadding')} + #{ui.v('??valueWidth')} - #{ui.v('??valueSection')});

      &::after {
        transform: scale(0.875);
      }
    }
  }

  &--disabled {
    pointer-events: none;
  }
}