@use "@dxtmisha/styles" as color;
@use "@dxtmisha/styles/properties" as ui;

@mixin mixinDraggableWrapper {
  position: relative;

  &__item {
    position: relative;
    cursor: default;

    &::before {
      display: none;
      @include ui.absolute();
      z-index: -1;

      border-radius: inherit;

      transition-property: background-color, box-shadow, opacity, outline, transform;
      transition-duration: ui.v('d.sys.transitionDuration.standard');
      transition-timing-function: ui.v('d.sys.transitionFunction.standard');
    }

    &--active {
      position: absolute;
      top: calc(#{ui.v('??sys-client-y')} - #{ui.v('??sys-item-shift-y')});
      left: calc(#{ui.v('??sys-client-x')} - #{ui.v('??sys-item-shift-x')});
      z-index: 8;

      @include ui.textSelectNone;

      margin: 0 !important;

      width: ui.v("??sys-item-width");
      height: ui.v("??sys-item-height");

      transform: scale(1.08);
      transition-property: box-shadow, opacity, transform;
      transition-duration: ui.v('d.sys.transitionDuration.standard');
      transition-timing-function: ui.v('d.sys.transitionFunction.standard');

      &::before {
        display: block;
      }
    }

    &--selection {
      transform: scale(1.08) rotate(ui.v('??sys-item-rotate'));
      transform-origin: 60% 40%;
      transition-property: none;
    }

    &--selectionMore {
      opacity: 0;
    }

    &--return {
      top: #{ui.v('??sys-client-y')};
      left: #{ui.v('??sys-client-x')};

      transform: unset;
      transition-property: box-shadow, left, outline, transform, top;
      transition-duration: ui.v('d.sys.transitionDuration.standard');
      transition-timing-function: ui.v('d.sys.transitionFunction.standard');

      &::before {
        display: block;
        opacity: 0;
      }
    }
  }

  &__square {
    display: none;

    margin: ui.v("??sys-square-margin-top") ui.v("??sys-square-margin-right") ui.v("??sys-square-margin-bottom") ui.v("??sys-square-margin-left");

    width: ui.v("??sys-square-width");
    height: ui.v("??sys-square-height");

    opacity: 0 !important;
    pointer-events: none !important;

    &--show {
      display: block;
    }
  }

  &__blockSelection {
    @include ui.textSelectNone;
  }
}
