@use "@dxtmisha/styles" as color;
@use "@dxtmisha/styles/properties" as ui;

@mixin mixinDraggableWrapper {
  --_cp__it-display: var(--cp__it-display, block);

  & {
    position: relative;
  }

  &__item {
    cursor: default;
    position: relative;

    &::before {
      z-index: var(--sys-index-xl);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include color.backgroundColor(var(--sys-palette-primary), var(--sys-opacity-selected));
      content: " ";
      display: none;
      transition-property: background-color;
      transition-duration: var(--sys-transitionDuration-standard);
      transition-timing-function: var(--sys-transitionFunction-standard);
    }

    &.cp-active {
      user-select: none;
      z-index: var(--sys-index-xl);
      box-shadow: var(--sys-shadow-xl);
      left: calc(#{ui.v('??sys-client-x')} + var(--_cp-shift-x, 0px));
      position: absolute;
      height: ui.v("??sys-item-height");
      margin: 0 !important;
      opacity: var(--sys-opacity-surface-high);
      transform: scale(1.08);
      transition-property: box-shadow, opacity, transform;
      transition-duration: var(--sys-transitionDuration-standard);
      transition-timing-function: var(--sys-transitionFunction-standard);
      top: calc(#{ui.v('??sys-client-y')} + var(--_cp-shift-y, 0px));
      width: ui.v("??sys-item-width");

      &::before {
        display: var(--_cp__it-display);
      }
    }

    &.cp-selection {
      z-index: calc(var(--sys-index-xl) - 1);
      box-shadow: var(--sys-shadow-lg);
      opacity: var(--sys-opacity-surface-medium);
      transform: scale(1.08) rotate(ui.v("??sys-item-rotate"));
      transform-origin: 60% 40%;
      transition-property: none;
    }

    &.cp-selection-more {
      opacity: 0;
    }

    &.cp-return {
      box-shadow: none;
      opacity: 1;
      transform: none;
      transition-property: box-shadow, left, transform, top;
      transition-duration: var(--sys-transitionDuration-standard);
      transition-timing-function: var(--sys-transitionFunction-standard);

      &::before {
        background-color: transparent;
      }
    }
  }

  &__square {
    display: none;

    margin: ui.v("??sys-square-margin-top") ui.v("??sys-square-margin-right") ui.v("??sys-square-margin-bottom") ui.v("??sys-square-margin-left");

    width: ui.v("??sys-square-width");
    height: ui.v("??sys-square-height");

    &--show {
      display: block;
    }
  }

  &__blockSelection {
    user-select: none;
  }
}
