@use "../../../styles/Ui/properties";
@use "@dxt-ui/styles/properties" as ui;
@use "@dxt-ui/constructor/Field/style" as Field;

@include ui.initDesignBasic('d1.field') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Field.mixinField;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-field-padding: var(--d1-sys-spacing-md);
    --d1-field-space: var(--d1-sys-spacing-x);
    --d1-field-height: var(--d1-ref-spacing-12);
    --d1-field-borderWidth: var(--d1-sys-spacing-outline);
    --d1-field-borderColor: var(--d1-sys-palette-outline);
    --d1-field-borderOpacity: var(--d1-sys-opacity-outline);
    --d1-field-borderRadius: calc(var(--d1-field-height) * var(--d1-sys-rounded-adaptive-md));
    --d1-field-focusWithin-borderColor: var(--d1-sys-palette-primaryVariant);
    --d1-field-focusWithin-borderWidth: var(--d1-ref-spacing-2px);
    --d1-field-focusWithin-caption-opacity: var(--d1-sys-opacity-surface-disabled);
    --d1-field-validation-borderColor: var(--d1-sys-palette-error);
    
    font-family: var(--d1-sys-font-family-basic), sans-serif;
    @include ui.fontSize(#{var(--d1-sys-font-size-md)});
    font-weight: var(--d1-sys-font-weight-regular);
    @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
    letter-spacing: var(--d1-sys-letterSpacing-xl);
    
    &__body {
      @include ui.backgroundColor(#{var(--d1-sys-palette-surface)});
      @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)});
      @include ui.gradient(#{var(--d1-sys-palette-primary)});
      @include ui.gradientOpacity(#{0});
      
      backdrop-filter: var(--d1-sys-blur-md);
      
      &__input {
        @include ui.gradient(#{var(--d1-sys-palette-primary)});
        @include ui.gradientOpacity(#{0});
        
        &::placeholder {
          @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-medium)}); @include ui.color('init');
        }
        
        @include ui.hover('.d1-field') {
          @include ui.gradientOpacity(#{var(--d1-sys-opacity-hover)}); @include ui.gradient('init');
        }
        
        @include ui.active('.d1-field') {
          @include ui.gradientOpacity(#{var(--d1-sys-opacity-pressed)}); @include ui.gradient('init');
        }
      }
      
      @include ui.focus('.d1-field') {
        @include ui.gradientOpacity(#{var(--d1-sys-opacity-focus)}); @include ui.gradient('init');
      }
    }
    
    &__prefix {
      font-family: var(--d1-sys-font-family-basic), sans-serif;
      @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
      font-weight: var(--d1-sys-font-weight-regular);
      @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
      letter-spacing: var(--d1-sys-letterSpacing-md);
      
      @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-medium)}); @include ui.color('init');
    }
    
    &__suffix {
      font-family: var(--d1-sys-font-family-basic), sans-serif;
      @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
      font-weight: var(--d1-sys-font-weight-regular);
      @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
      letter-spacing: var(--d1-sys-letterSpacing-md);
      
      @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-medium)}); @include ui.color('init');
    }
    
    &__caption {
      font-family: var(--d1-sys-font-family-basic), sans-serif;
      @include ui.fontSize(#{var(--d1-sys-font-size-md)});
      font-weight: var(--d1-sys-font-weight-regular);
      @include ui.lineHeight(#{var(--d1-sys-lineHeight-md)});
      letter-spacing: var(--d1-sys-letterSpacing-xl);
      
      @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-medium)}); @include ui.color('init');
    }
    
    &__trailing {
      @include ui.colorOpacity(#{var(--d1-sys-opacity-surface-medium)}); @include ui.color('init');
    }
    
    &--tonal {
      --d1-field-borderWidth: 0;
      --d1-field-focusWithin-borderWidth: 0;
      
      & .d1-field__body {
        @include ui.backgroundColor(#{var(--d1-sys-palette-primary)});
        @include ui.backgroundOpacity(#{var(--d1-sys-opacity-overlay)});
        
        backdrop-filter: var(--d1-sys-blur-xl);
      }
      
      &.d1-field--validation {
        & .d1-field__body {
          @include ui.backgroundColor(#{var(--d1-sys-palette-error)});
          @include ui.gradient(#{var(--d1-sys-palette-error)});
          
          &__input {
            @include ui.gradient(#{var(--d1-sys-palette-error)});
          }
        }
      }
    }
    
    &--width {
      &--custom {
        @include ui.width(#{var(--d1-field-sys-width)});
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
