@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as NavigationItem;

@include ui.initDesignBasic('d1.navigationItem') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include NavigationItem.mixinNavigationItem;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-navigationItem-transitionFunction: var(--d-sys-transitionFunction-standard);
    
    transition-duration: var(--d-sys-transitionDuration-fade-enter);
    transition-property: background-color, background-image, border, box-shadow;
    
    &--controlPosition {
      &--start {
        & .d1-navigationItem__control {
          order: 4;
        }
      }
      
      &--end {
        & .d1-navigationItem__control {
          order: 28;
        }
      }
      
      &--autoSm {
        @media screen and (min-width: 640px) {
          & .d1-navigationItem__control {
            order: 4;
          }
        }
      }
      
      &--autoMd {
        @media screen and (min-width: 768px) {
          & .d1-navigationItem__control {
            order: 4;
          }
        }
      }
      
      &--autoLg {
        @media screen and (min-width: 1024px) {
          & .d1-navigationItem__control {
            order: 4;
          }
        }
      }
      
      &--autoXl {
        @media screen and (min-width: 1280px) {
          & .d1-navigationItem__control {
            order: 4;
          }
        }
      }
      
      &--auto2xl {
        @media screen and (min-width: 1536px) {
          & .d1-navigationItem__control {
            order: 4;
          }
        }
      }
    }
    
    &--fill {
      &--custom {
        --d1-navigationItem-fill: var(--d1-navigationItem-sys-fill);
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
