@use "sass:map";
@use "sass:string";

$designsInit: false ;

@use "../variables";
@use "../rules";
@use "../index";

@use "propertiesItem";
@use "propertiesProperty";
@use "propertiesTool";
@use "propertiesVar";

/// Generating styles for the component
/// Генерация стилей для компонента
/// @param {String} $component
@mixin initDesignBasic(
  $component: 'design.component',
  $root: false
) {
  $designsInit: false !global;
  @include variables.setDesignsValues(propertiesItem.getProperties($component));

  @if (variables.$designsValues != null) {
    @include variables.setDesignsDesign(__getDesign());
    @include variables.setDesignsComponent(__getComponent());

    $name: map.get(variables.$designsValues, 'name');
    @include variables.setDesignsClassIndex($name);

    @if ($root) {
      @content;
    } @else {
      #{'.'}#{$name} {
        @include variables.setDesignsClassName(&);
        @content;
      }
    }
  }
}

@mixin initDesign(
  $component: 'design.component',
  $root: false
) {
  @include initDesignBasic($component, $root) {
    @content;

    @if ($root == false and $designsInit == false) {
      @include initPropertiesComponent;
    }
  }
}

@mixin initDesignBody($component: 'design.component') {
  body {
    @include initDesign($component, true) {
      @include initByLink($component);
      @content;
    }
  }
}

@mixin initNone() {
  $designsInit: true !global;
}

/// Generating all properties
/// Генерация всех свойств
@mixin initPropertiesComponent {
  $value: map.get(variables.$designsValues, 'value');
  $designsInit: true !global;
  @include propertiesItem.initProperties($value);
}

/// Generating all properties by reference
/// Генерация всех свойств по ссылке
/// @param {String} $link
@mixin initByLink($link) {
  $property: propertiesItem.getProperties(propertiesTool.toFullName($link));

  @if ($property != null) {
    $value: map.get($property, 'value');
    $type: map.get($property, 'type');

    @if ($type =='var') {
      @include propertiesVar.initVar($property);
    } @else if ($type =='property') {
      @include propertiesProperty.initProperty($property);
    } @else {
      @include propertiesItem.initProperties($value);
    }
  } @else {
    @warn #{'[initByLink] not link: '}#{$link};
  }
}

/// Mixin for generating custom properties
/// Миксин для генерации пользовательских свойств
/// @param {String} $name property names / названия свойств
/// @param {String} $value property values / значения свойства
/// @param {Bool} $important high priority / высокий приоритет
@mixin initByCustom(
  $name,
  $value,
  $important: false
) {
  @include propertiesTool.toProperty(#{'??'}#{$name}, $value, $important);
}

/// Mixin for generating custom properties with 'var' value type
/// Миксин для генерации пользовательских свойств с типом значений 'var'
/// @param {String} $name property names / названия свойств
/// @param {String} $value property values / значения свойства
/// @param {String} $default default values / значения по умолчанию
/// @param {Boolean} $important high priority / высокий приоритет
@mixin initByCustomVar(
  $name,
  $value,
  $default: null,
  $important: false
) {
  @include propertiesTool.toPropertyVar(#{'??'}#{$name}, $value, $default, $important);
}

/// Mixin for generating custom properties at the design level
/// Миксин для генерации пользовательских свойств на уровне дизайна
/// @param {String} $name property names / названия свойств
/// @param {String} $value property values / значения свойства
/// @param {Bool} $important high priority / высокий приоритет
@mixin initByCustomDesign(
  $name,
  $value,
  $important: false
) {
  @include propertiesTool.toProperty(#{'?'}#{$name}, $value, $important);
}

/// Mixin for generating a sub-class
/// Миксин для генерации класса статуса
/// @param {String} $name status names / названия статуса
@mixin state($name) {
  &#{variables.$designsClassName}--#{$name} {
    @content;
  }
}

/// Mixin for generating status class
/// Миксин для генерации саб класса
/// @param {String} $name
@mixin subclass($name) {
  #{variables.$designsClassName}__#{$name} {
    @content;
  }
}

/// Returns the name of the design
/// Возвращает название дизайна
/// @return {String}
@function __getDesign() {
  $component: map.get(variables.$designsValues, 'name');

  @each $design in variables.$designsDesigns {
    @if (string.index($component, #{$design}#{'-'})) {
      @return $design;
    }
  }

  @return null;
}

/// Returns the component name
/// Возвращает название компонента
/// @return {String}
@function __getComponent() {
  @return map.get(variables.$designsValues, 'index');
}
