@use "@dxtmisha/styles/properties" as ui;

@mixin mixinSlider {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  height: ui.v('??size');

  &__rail,
  &__track,
  &__select {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: inherit;
    height: ui.v('??rail-height');
  }

  &__rail {
    left: 0;
    width: 100%;
  }

  &__track {
    left: ui.v('??sys-thumb-min-x', 0%);
    right: calc(100% - #{ui.v('??sys-thumb-max-x', 100%)});
    transition-property: left, right;
  }

  &__select {
    z-index: 8;

    left: 0;
    width: 100%;
    height: ui.v('??thumb-size');

    cursor: pointer;
  }

  &__label {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;

    transition-duration: ui.v('d.sys.transitionDuration.fade.enter');
    transition-property: opacity, visibility;
    transition-timing-function: ui.v('d.sys.transitionFunction.standard');
  }

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 12;

    margin: auto 0;
    padding: 0;

    width: ui.v('??size');
    height: ui.v('??size');

    background: transparent;
    border: none;
    outline: none;

    transform: translateX(calc(#{ui.v('??thumb-size')} / -2));

    cursor: pointer;

    &::after {
      content: '';
      display: block;

      width: ui.v('??thumb-size');
      height: ui.v('??thumb-size');
    }

    &--min {
      left: ui.v('??sys-thumb-min-x', 0%);
    }

    &--max {
      left: ui.v('??sys-thumb-max-x', 100%);
    }

    &:focus,
    &:hover {
      @include ui.subclass('label') {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__marks {
    @include ui.absolute;

    margin: auto 0;
    height: ui.v('??rail-height');
    pointer-events: none;
  }

  &__mark {
    position: absolute;
    top: calc(50% - #{ui.v('??mark-size')} / 2);
    left: calc(ui.v('??mark-left', 0%) - #{ui.v('??mark-size')} / 2);

    width: ui.v('??mark-size');
    height: ui.v('??mark-size');
  }

  &--disabled {
    pointer-events: none;
  }

  &--vertical {
    flex-direction: column;

    width: ui.v('??size');
    height: 100%;

    @include ui.subclass('rail') {
      top: 0;
      bottom: 0;

      margin: 0 auto;

      width: ui.v('??rail-height');
      height: auto;
    }

    @include ui.subclass('track') {
      top: calc(100% - #{ui.v('??sys-thumb-max-x', 100%)});
      bottom: ui.v('??sys-thumb-min-x', 0%);
      left: 0;
      right: 0;

      margin: 0 auto;

      width: ui.v('??rail-height');
      height: auto;
    }

    @include ui.subclass('select') {
      top: 0;
      bottom: 0;

      margin: 0 auto;

      width: ui.v('??rail-height');
      height: auto;
    }

    @include ui.subclass('thumb') {
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateY(calc(#{ui.v('??sys-size', 40px)} / -2));

      &--min {
        top: calc(100% - #{ui.v('??sys-thumb-min-x', 0%)});
      }

      &--max {
        top: calc(100% - #{ui.v('??sys-thumb-max-x', 100%)});
      }
    }
  }
}
