@use "@dxtmisha/styles/properties" as ui;
@use "../TableItem/style" as tableItem;

@mixin mixinTableHeaderItem {
  @include tableItem.mixinTableItem;

  &__body {
    @include ui.flexX;
  }

  &--align {
    &--left {
      @include ui.subclass('body') {
        justify-content: flex-start;
      }
    }
    &--center {
      @include ui.subclass('body') {
        justify-content: center;
      }
    }
    &--right {
      @include ui.subclass('body') {
        justify-content: flex-end;
      }
    }
  }

  &--dividerY:last-child {
    border-bottom-style: ui.v('??borderStyle');
    border-bottom-width: ui.v('??borderWidth');
    @include ui.borderColor(ui.v('??borderColor'), ui.v('??borderOpacity'));
  }
}