@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as SnackbarItem;

@include ui.initDesignBasic('d1.snackbarItem') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include SnackbarItem.mixinSnackbarItem;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    gap: var(--d1-sys-spacing-md);
    
    @include ui.paddingX(#{var(--d1-layout-paddingX)});
    @include ui.paddingY(#{var(--d1-layout-paddingY)});
    
    @include ui.color(#{var(--d1-sys-palette-onPrimary)});
    @include ui.colorOpacity(#{var(--d1-sys-opacity-primary-high)});
    
    @include ui.backgroundOpacity(#{var(--d1-sys-opacity-primary-high)}); @include ui.backgroundColor('init');
    @include ui.paletteBackground(#{var(--d1-sys-palette-primaryVariant)});
    
    border-radius: var(--d1-sys-rounded-lg);
    
    box-shadow: var(--d1-sys-shadow-lg);
    backdrop-filter: var(--d1-sys-blur-lg);
    
    &__context {
      gap: var(--d1-sys-spacing-xs);
    }
    
    &__description {
      font-family: var(--d1-sys-font-family-basic), sans-serif;
      @include ui.fontSize(#{var(--d1-sys-font-size-sm)});
      font-weight: var(--d1-sys-font-weight-regular);
      @include ui.lineHeight(#{var(--d1-sys-lineHeight-sm)});
      letter-spacing: var(--d1-sys-letterSpacing-md);
    }
    
    &--success {
      @include ui.backgroundColor(#{var(--d1-sys-palette-success)});
    }
    
    &--error {
      @include ui.backgroundColor(#{var(--d1-sys-palette-error)});
    }
    
    @media screen and (min-width: 640px) {
      @include ui.width(#{var(--d1-ref-spacing-80)});
    }
    
    @media screen and (min-width: 768px) {
      @include ui.width(#{var(--d1-ref-spacing-96)});
    }
    
    @media screen and (min-width: 1024px) {
      @include ui.width(#{var(--d1-ref-spacing-112)});
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
