@use "@dxtmisha/styles/properties" as ui;

@mixin mixinTableItem {
  border: none;

  &--align {
    &--left {
      @include ui.textAlign('left');
    }
    &--center {
      @include ui.textAlign('center');
    }
    &--right {
      @include ui.textAlign('right');
    }
  }

  &--alignVertical {
    &--top {
      vertical-align: top;
    }
    &--center {
      vertical-align: middle;
    }
    &--bottom {
      vertical-align: bottom;
    }
  }

  &--dividerX:not(:first-child) {
    border-left-style: ui.v('??borderStyleX', solid);
    border-left-width: ui.v('??borderWidth');
    @include ui.borderColor(ui.v('??borderColor'), ui.v('??borderOpacity'));
  }

  &--dividerY {
    border-top-style: ui.v('??borderStyleY', solid);
    border-top-width: ui.v('?item.borderNone', ui.v('??borderWidth', 0));
    @include ui.borderColor(ui.v('??borderColor'), ui.v('??borderOpacity'));
  }

  &--labelClamp {
    @include ui.subclass('label') {
      @include ui.clamp(2);
    }
  }

  &--stickyTop {
    position: sticky;
    top: ui.v('?sys.sticky.top', 0);
    z-index: 12;
  }

  &--stickyLeft {
    position: sticky;
    @include ui.left(ui.v('??sys.sticky.left', 0));
    z-index: 16;
  }
}
