@use "@dxtmisha/styles/properties" as ui;

@mixin mixinTableItem {
  border: none;

  &--align {
    &--left {
      @include ui.textAlign('left');
    }
    &--center {
      @include ui.textAlign('center');
    }
    &--right {
      @include ui.textAlign('right');
    }
  }

  &--alignVertical {
    &--top {
      vertical-align: top;
    }
    &--center {
      vertical-align: middle;
    }
    &--bottom {
      vertical-align: bottom;
    }
  }

  &--dividerX:not(:first-child) {
    border-left-style: ui.v('??borderStyle');
    border-left-width: ui.v('??borderWidth');
    @include ui.borderColor(ui.v('??borderColor'), ui.v('??borderOpacity'));
  }

  &--dividerY:not(:first-child) {
    border-top-style: ui.v('??borderStyle');
    border-top-width: ui.v('??borderWidth');
    @include ui.borderColor(ui.v('??borderColor'), ui.v('??borderOpacity'));
  }

  &--labelClamp {
    @include ui.subclass('label') {
      @include ui.clamp(2);
    }
  }

  &--stickyTop {
    position: sticky;
    @include ui.left(ui.v('??stickyLeft.top', 0));
    z-index: 12;
  }

  &--stickyLeft {
    position: sticky;
    @include ui.left(ui.v('??stickyLeft.left', 0));
    z-index: 16;
  }
}
