@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as TableHeaderItem;

@include ui.initDesignBasic('d1.tableHeaderItem') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include TableHeaderItem.mixinTableHeaderItem;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    &--vertical {
      &--always {
        & .d1-tableHeaderItem__body {
          flex-direction: column;
        }
        
        & .d1-tableHeaderItem__labelHeader {
          display: block;
        }
      }
    }
    
    &--right {
      @include ui.textAlign(#{right});
      
      & .d1-tableHeaderItem__body {
        @include ui.justifyContent(#{flex-end});
      }
    }
    
    &--basis {
      &--1 {
        flex-basis: 1px;
      }
      
      &--2 {
        flex-basis: 2px;
      }
      
      &--3 {
        flex-basis: 3px;
      }
      
      &--4 {
        flex-basis: 4px;
      }
      
      &--5 {
        flex-basis: 5px;
      }
      
      &--6 {
        flex-basis: 6px;
      }
      
      &--7 {
        flex-basis: 7px;
      }
      
      &--8 {
        flex-basis: 8px;
      }
      
      &--9 {
        flex-basis: 9px;
      }
      
      &--10 {
        flex-basis: 10px;
      }
      
      &--11 {
        flex-basis: 11px;
      }
      
      &--12 {
        flex-basis: 12px;
      }
      
      &--auto {
        flex-basis: auto;
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
