@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Scrollbar;

@include ui.initDesignBasic('d1.scrollbar') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Scrollbar.mixinScrollbar;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-scrollbar-size: var(--d1-sys-spacing-xs);
    --d1-scrollbar-background: transparent;
    --d1-scrollbar-thumb-background: var(--d1-sys-palette-scrim);
    --d1-scrollbar-thumb-opacity: 0;
    --d1-scrollbar-thumb-rounded: var(--d1-sys-rounded-full);
    --d1-scrollbar-thumb-hover-opacity: var(--d1-sys-opacity-scrim);
    --d1-scrollbar-outline-width: var(--d1-sys-spacing-outline);
    --d1-scrollbar-outline-color: var(--d1-sys-palette-outline);
    --d1-scrollbar-outline-opacity: var(--d1-sys-opacity-outline);
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
