@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as SegmentControl;

@include ui.initDesignBasic('d1.segmentControl') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include SegmentControl.mixinSegmentControl;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    gap: var(--d1-sys-spacing-x);
    
    @include ui.backgroundColor(#{var(--d1-sys-palette-onSurface)});
    @include ui.backgroundOpacity(#{var(--d1-sys-opacity-overlay)});
    
    &__item {
      scroll-margin-left: var(--d1-sys-spacing-size-6xl);
      
      &::before {
        content: ' ';
        top: 0;
        bottom: 0;
        
        @include ui.backgroundColor(#{var(--d1-sys-palette-surface)});
      }
    }
    
    &--size {
      &--sm {
        padding: var(--d1-sys-spacing-x);
        
        border-radius: var(--d1-sys-rounded-md);
        
        & .d1-segmentControl__item {
          &::before {
            content: ' ';
            border-radius: var(--d1-sys-rounded-sm);
            
            box-shadow: var(--d1-sys-shadow-xs);
          }
        }
      }
      
      &--md {
        padding: var(--d1-sys-spacing-xs);
        
        border-radius: var(--d1-sys-rounded-xl);
        
        & .d1-segmentControl__item {
          &::before {
            content: ' ';
            border-radius: var(--d1-sys-rounded-md);
            
            box-shadow: var(--d1-sys-shadow-sm);
          }
        }
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
