@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as Input;

@include ui.initDesignBasic('d1.input') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include Input.mixinInput;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    --d1-input-main: var(--d-input);
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
