@use "@dxtmisha/styles/properties" as ui;

@mixin mixinCollageItem {
  box-sizing: border-box;
  position: relative;
  @include ui.flexDynamic;
  @include ui.flexStretchY;
  margin: 0;
  width: auto;
  min-width: 0;

  &__body {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 0;
    @include ui.flexDynamic;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
  }

  &__icon {
    position: absolute;
    top: ui.v('??iconPaddingY', 0);
    @include ui.right(ui.v('??iconPaddingX', 0));
    z-index: 4;
    pointer-events: none;

    transition-property: opacity, transform;
    transition-duration: ui.v('d.sys.transitionDuration.standard');
    transition-timing-function: ui.v('d.sys.transitionFunction.standard');
  }

  &:not(&--selected) &__icon {
    opacity: 0;
    transform: scale(0.8);
  }

  &--selected {
    @include ui.subclass('body') {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        pointer-events: none;
      }
    }
  }

  &--collageBarPosition {
    &--top {
      @include ui.subclass('icon') {
        top: auto;
        bottom: ui.v('??iconPaddingY', 0);
      }
    }
  }

  &--span {
    &--standard {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }

    &--wide {
      grid-column: auto / span 2;
    }

    &--tall {
      grid-column: auto / span 1;
      grid-row: auto / span 2;
    }

    &--large {
      grid-column: auto / span 2;
      grid-row: auto / span 2;
    }

    &--banner {
      grid-column: auto / span 3;
    }

    &--huge {
      grid-column: auto / span 3;
      grid-row: auto / span 2;
    }
  }
}