@use "@dxtmisha/styles/properties" as ui;
@use "../TableRecord/style" as tableRecord;

@mixin mixinTableFlexRecord {
  @include tableRecord.mixinTableRecord;
  display: flex;

  &--lazy {
    content-visibility: auto;
    contain-intrinsic-height: ui.v('??minHeight', 32px);

    &--hidden {
      visibility: hidden;
      min-height: ui.v('??minHeight', 32px);
    }
  }
}