@use "@dxtmisha/styles/properties" as ui;

@mixin mixinTable {
  &__table {
    position: relative;
    min-width: ui.v('??fixWidth', 100%);

    border-spacing: 0;
  }

  &--headerTop {
    @include ui.subclass('header') {
      @include ui.initByCustom('_sys.sticky.top', #{ui.v('?sys.global.sticky.top', ui.v('?sys.sticky.top', 0px))});

      position: sticky;
      top: ui.v('??_sys.sticky.top');
      z-index: 24;

      transform: translateY(#{calc(ui.v('??sys-sticky-fix') + ui.v('??_sys.sticky.top'))});
      will-change: transform;

      transition-property: opacity;
      transition-duration: ui.v('d.sys.transitionDuration.fade.exit');
      transition-timing-function: linear;

      &[data-sticky][data-sticky-scroll] {
        opacity: 0;
      }
    }
  }
}
