@use "@dxtmisha/styles/properties" as ui;

@mixin mixinTable {
  &__table {
    position: relative;
    min-width: 100%;
  }

  &__header {
    overflow: hidden;
  }

  &__items {
    overflow-y: hidden;
    overflow-x: auto;
    // overscroll-behavior: none

    scrollbar-width: none;

    &::-webkit-scrollbar {
      appearance: none;
      width: 0;
      height: 0;
    }
  }

  &--headerTop {
    &__header {
      position: sticky;
      top: var(--sys-header-height, 0);
      z-index: 16;
    }
  }
}
