@use "@dxtmisha/styles/properties" as ui;

@mixin mixinMotionFlip {
  position: relative;

  @include ui.subclass('item') {
    position: relative;
  }

  &--freeze>*:not(&__item) {
    opacity: 0;
  }

  &--freeze {
    @include ui.subclass('item') {
      z-index: 4;

      width: ui.v('??sys.width');
      min-width: ui.v('??sys.width');
      max-width: ui.v('??sys.width');

      height: ui.v('??sys.height');
      min-height: ui.v('??sys.height');
      max-height: ui.v('??sys.height');

      >* {
        position: absolute;

        width: ui.v('??sys.width-to');
        height: ui.v('??sys.height-to');

        transform: translate(ui.v('??sys.left', 0px), ui.v('??sys.top', 0px));
      }
    }
  }

  &--go>*:not(&__item) {
    opacity: 1;

    transition-property: opacity;
    transition-duration: ui.v('d.sys.transitionDuration.container.open');
    transition-timing-function: ui.v('d.sys.transitionFunction.emphasized');
  }

  &--go {
    @include ui.subclass('item') {
      >* {
        width: ui.v('??sys.width');
        height: ui.v('??sys.height');

        transform: translate(0px, 0px);

        transition-property: height, transform, width;
        transition-duration: ui.v('d.sys.transitionDuration.container.open');
        transition-timing-function: ui.v('d.sys.transitionFunction.emphasized');
      }
    }
  }
}