@use "../../../styles/Ui/properties";
@use "@dxtmisha/styles/properties" as ui;
@use "@dxtmisha/constructor/style.scss" as TabsNavigation;

@include ui.initDesignBasic('d1.tabsNavigation') {
  // Basic styles for a component
  // Базовый стили для компонента
  @include TabsNavigation.mixinTabsNavigation;

  // Styles from tokens
  // Стили из токенов
  // :style [!] System label / Системная метка
  & {
    @include ui.paddingY(#{var(--d1-sys-spacing-x)});
    
    @include ui.focus {
      @include ui.outlineOpacity(#{var(--d1-sys-opacity-outline)});
      
      outline-width: var(--d1-ref-spacing-1);
      @include ui.outlineColor(#{var(--d1-sys-palette-primary)});
    }
    
    &--divider {
      &::after {
        content: ' ';
        position: absolute;
        @include ui.right(#{0});
        bottom: 0;
        @include ui.left(#{0});
        
        @include ui.borderColor(#{var(--d1-sys-palette-outline)});
        @include ui.borderOpacity(#{var(--d1-sys-opacity-outline)});
        border-bottom-width: var(--d1-sys-spacing-outline);
        border-bottom-style: solid;
      }
    }
  }
  // :style [!] System label / Системная метка

  // Here are the user styles
  // Здесь пользовательские стили
}
