@use "@dxtmisha/styles/properties" as ui;

@mixin mixinTabItem {
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: #{ui.v('??paddingY', 0px)} #{ui.v('??paddingX', 0px)};

  text-wrap: nowrap;
  white-space: nowrap;

  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    top: ui.v('??indicator.top', auto);
    bottom: 0;
    left: calc(#{ui.v('??paddingX', 0px)} + #{ui.v('??sys.left')});
    pointer-events: none;
    opacity: 0;

    width: calc(#{ui.v('??sys.width')} - (2 * #{ui.v('??paddingX', 0px)}));
    height: ui.v('??indicator.height', auto);

    content: " ";

    transition-duration: ui.v('d.sys.transitionDuration.axis');
    transition-property: none;
    transition-timing-function: ui.v('d.ref.transitionFunction.e40i80');
  }

  &__label {
    order: 4;
  }

  &__badge {
    order: 12;
  }

  &__ripple {
    order: 32;
  }

  &--readonly,
  &--disabled,
  &--loading {
    cursor: default;
  }

  &--selected {
    &::before {
      left: ui.v('??paddingX', 0px);
      opacity: 1;
      width: calc(100% - (2 * #{ui.v('??paddingX', 0px)}));
      transition-property: left, width;
    }
  }
}
